Source: python-wheel
Section: python
Priority: optional
Maintainer: root <clint.northwood@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python (>= 2.7), python-setuptools (>= 0.9.8)
Standards-Version: 3.9.2
X-Python-Version: 2.7
Homepage: https://pypi.python.org/pypi/wheel

Package: python-wheel
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, python-pkg-resources, python-setuptools (>= 0.9.8)
Suggests: python-pip (>= 1.4)
Description: A built-package format for Python.
 .
 A wheel is a ZIP-format archive with a specially formatted
 filename and the .whl extension. It is designed to contain
 all the files for a PEP 376 compatible install in a way
 that is very close to the on-disk format. Many packages
 will be properly installed with only the "Unpack" step
 (simply extracting the file onto sys.path), and the
 unpacked archive preserves enough information to "Spread"
 (copy data and scripts to their final locations) at any
 later time.

